<div class="dropdown">
  <button class="dropbtn">View</button>
  <div class="dropdown-content">
    <a href="/admin/burritos/index">Burritos</a>
    <a href="#">Eateries</a>
    <a href="#">Deals</a>
  </div>
  <button class="dropbtn">Add</button>
    <div class="dropdown-content">
      <a href="#">Burrito</a>
      <a href="#">Eatery</a>
      <a href="#">Deal</a>
    </div>
</div>