<section id='main-menu'>
  <div class="dropdown" id='view'>
    <button class="dropbtn">View</button>
    <div class="dropdown-content">
      <a href="/admin/burritos/index">Burritos</a>
      <a href="/admin/eateries/index">Eateries</a>
      <a href="/admin/deals/index">Deals</a>
    </div>
  </div>
  <div class="dropdown" id='add'>
    <button class="dropbtn">Add</button>
      <div class="dropdown-content">
        <a href="/admin/burritos/new">Burrito</a>
        <a href="/admin/eateries/new">Eatery</a>
        <a href="/admin/deals/s_e">Deal</a>
        <a href="/admin/menu_items/new/0">Menu Item</a>
      </div>
  </div>
</section>