<div>
  <h1>ALL EATERIES</h1>
  <% @eateries.each do |eatery| %>
    <% if eatery.eatery_name != 'All Eateries' %>
    <p><%= eatery.eatery_name %> </p>
    <% end %>
 <!--    <form action='/deal_selection/filtered_deals' method='get'>
      <input type='submit' value='Show All Deals'>      
    </form> -->
  <hr>
  <% end %>

</div>
