<div>
  
<h2>All Burritos</h2>

<% @burritos.each do |burrito| %>
  <p><%= burrito.burrito_name %></p>
  <div>
    <p>Available at:</p>
      <% burrito.eateries.each do |eatery| %>
       <p><%= eatery.eatery_name %></p>
      <% end %>
  </div>
  <hr>
<% end %>




</div>