<!DOCTYPE html>
<html>
<head>
  <title>Burrito Deal Finder</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow:700|Open+Sans:300" rel="stylesheet">
  <link rel="stylesheet" href="/styles/normalize6.css">
  <link rel="stylesheet" href="/styles/admin.css">
  <link rel="icon" href="/images/admin1.png" />

</head>
<body>
<div id='container'>

  <section id='header'>
    <nav>
      <ul>
        <li><a href="/">Log On/Off</a></li>
        <li><a href="/admin/main_menu">Main Menu</a></li>
      </ul>
    </nav>
  </section>

  <section id='body'>
    <%= yield  %>
  </section>

  <footer id='footer'>
    <ul>
      <li>
        <a id='ft-fb' href="https://wwww.facebook.com" target='_blank'>Facebook</a>
      </li>
      <li>
        <a id='ft-tw' href="https://wwww.twitter.com" target='_blank'>Twitter</a>
      </li>
      <li>
        <a id='ft-ig' href="https://wwww.instagram.com" target='_blank'>Instagram</a>
      </li>
      <li>
        <a id='ft-li' href="https://wwww.linkedin.com" target='_blank'>LinkedIn</a>
      </li>
    </ul>
  </footer>
  
</body>
</html>