<div>
<p>Welcome message and description etc</p>

  <div>
    <p>LOG ON AS:</p>
    <ul>
      <li><a href="" class='btn'>USER</a></li>
      <li><a href="" class='btn'>ADMIN</a></li>
    </ul>
  </div>

</div>