<!DOCTYPE html>
<html>
<head>
  <title>Burrito Deal Finder</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/normalize6.css">
</head>
<body>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/deal_selection/filter">Deal Search</a></li>
    <li><a href="/">Eateries</a></li>
    <li><a href="/deals/index">All Deals</a></li>
  </ul>
</nav>

<%= yield  %>

</body>
</html>