<!DOCTYPE html>
<html>
<head>
  <title>Burrito Deal Finder</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow:700|Open+Sans:300" rel="stylesheet">
  <link rel="stylesheet" href="/styles/normalize6.css">
  <link rel="stylesheet" href="/styles/main_style.css">
  <link rel="icon" href="/images/burrito1.jpg" />
</head>
<body>
<nav>
  <ul>
    <li><a href="/">Log On/Off</a></li>
    <li><a href="/deal_selection/filter">Deal Search</a></li>
    <li><a href="/eateries/index">Eateries</a></li>
    <li><a href="/deals/index">All Deals</a></li>
  </ul>
</nav>

<%= yield  %>

</body>
</html>