<div id='log-on'>
<h1>Burrito Deals Tracker</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pharetra neque ante, egestas finibus libero tempor nec. Praesent iaculis tortor justo, sit amet suscipit nibh dignissim eget. In vulputate sit amet magna et convallis. Vivamus interdum suscipit turpis ut volutpat. Etiam quis justo in purus semper cursus quis et mauris.</p>

  <section>
    <p>LOG ON AS:</p>
    <ul>
      <li><a href="/deal_selection/filter" class='btn'><button type='button' class='log-on-b'>USER</button></a></li>
      <li><a href="/admin/main_menu" class='btn'><button type='button' class='log-on-b'>ADMIN</button></a></li>
    </ul>
  </section>

  <footer>
  <ul>
    <li>
      <a id='ft-fb' href="wwww.facebook.com" target='_blank'>Facebook</a>
    </li>
    <li>
      <a id='ft-tw' href="wwww.twitter.com" target='_blank'>Twitter</a>
    </li>
    <li>
      <a id='ft-ig' href="wwww.instagram.com" target='_blank'>Instagram</a>
    </li>
    <li>
      <a id='ft-li' href="wwww.linkedin.com" target='_blank'>LinkedIn</a>
    </li>
  </ul>
  </footer>
</div>