<div>
  <h1>New Menu Item Details</h1>
  <form method='post' action='admin/menu_items'>
    <label for='eatery-id'>Eatery:</label>
    <select required id='eatery-id' name='eatery_id'>
      <% @eateries.each do |eatery| %>
      <option value='eatery.id'><%= eatery.eatery_name %></option>
      <% end %>
    </select>
    <br>

    <label for='burrito-id'>Burrito</label>
    <select id='burrito-id' name='burrito_id'>
      <% @burritos.each do |burrito| %>
      <option value='<%= burrito.id %>' <%= 'selected' if @burrito_id == burrito.id %> ><%= burrito.burrito_name %></option>
      <% end %>
    </select>
    <br>

    <label for='price'>Price:</label>
    <input id='price' type='number' name='price' min='0'>
    <br>

    <label for='create-m-i'>Add Another Burrito?</label>
    <input type='checkbox' name='add' value='y'>
    <br>

  <input type='submit' value='Add to Menu'>
  </form>

</div>