<div>
  <h1>ALL DEALS AVAILABLE</h1>
  <% @deals.each do |deal| %>
  <p> <%= deal.deal_name %> </p>
  
    <form action='/deals/<%= deal.id %>/<%= deal.eatery_applies_to.id %>/<%= deal.day_id %>' method='get'>
      <input type="submit" value="Burrito Details">
    </form>
  
  <hr>
  <% end %>

</div>
