<div id='burritos-included'>
  <h2>Burritos included in <%= @deal.deal_name %></h2>
  
  
    <% @burritos.each do |burrito| %>
    <section>
    <p><%= burrito.burrito_name %></p>
    <p><strike><span>£<%= burrito.price(@eatery) %></span></strike>  <%= burrito.price_after(@deal, @eatery)  %>
    </p>
    <hr>
    </section>
    <% end %>
  

</div>