/* GENERAL */

* { 
  box-sizing: border-box;
  margin: 0;
 }

 body {
  width: 100%;
  font-family: 'Archivo Narrow', Helvetica, sans-serif;
  height: 100%;
  background :#fff;
  background-image: url("/images/pattern-white.jpg");
  background-attachment: fixed;
 }

 #container {
    min-height:100%;
    position:relative;
 }

 #header {
    /*background:#ff0;*/
    padding:10px 0;
    height: 2em;
    position: fixed;
 }
 #body {
    padding-top: 2em;
    padding-bottom:60px;   /* Height of the footer */
 }
 #footer {
    position:fixed;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    /*background:#6cf;*/
 }

 /* MAIN MENU */

#main-menu {
 width: 80%;
 text-align: center;
 margin: 2em auto;
 padding-top: 4em;
}

 /* Style The Dropdown Button */
 .dropbtn {
  background-image: linear-gradient(#f44336, #9e1e14);
  border: none;
  text-align: center; 
  text-decoration: none;
  padding: 14px 25px;
  display: inline-block;
  margin: 0.5em 0;
  font-size: 2em;
  border-radius: 4px;
  color: white;
 }

 /* The container <div> - needed to position the dropdown content */
 .dropdown {
     position: relative;
     display: inline-block;
     width:60%;
 }

 /* Dropdown Content (Hidden by Default) */
 .dropdown-content {
     display: none;
     position: absolute;
     background-color: #f9f9f9;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
 }

 /* Links inside the dropdown */
 .dropdown-content a {
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
 }

 /* Change color of dropdown links on hover */
 .dropdown-content a:hover {background-color: #f1f1f1}

 /* Show the dropdown menu on hover */
 .dropdown:hover .dropdown-content {
     display: block;
 }

 /* Change the background color of the dropdown button when the dropdown content is shown */
 .dropdown:hover .dropbtn {
     background-image: none;
     background-image: linear-gradient(#f44336,#601206);
 }