/* GENERAL */

* { 
  box-sizing: border-box;
  margin: 0;
 }

 body {
  width: 100%;
  font-family: 'Archivo Narrow', Helvetica, sans-serif;
  height: 100%;
  background :#fff;
  background-image: url("/images/pattern-white.jpg");
  background-attachment: fixed;
 }

 #container {
    min-height:100%;
    position:relative;
 }

 #header {
    /*background:#ff0;*/
    padding:10px 0;
 }
 #body {
    margin-top: 2em;
    padding: 0;
    padding-bottom:60px;   /* Height of the footer */
 }
 #footer {
    position:fixed;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    /*background:#6cf;*/
 }

 /* NAV */

#header nav {
  padding: 0.5em 0 0.5em;
  background: blue;
  background-image: linear-gradient(#692520, #3A1310);
 }

#header nav ul {
  font-family: 'Archivo Narrow', sans-serif;
  list-style: none;
  padding: 0;
  text-align: center;
}

#header nav ul li {
  display: inline;
}

#header nav ul li a {
  display: inline-block;
  text-decoration: none;
  -webkit-user-select: none; /* Chrome, Opera, Safari */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

.nav-btn {
  background-image: linear-gradient(#ED4D40,#A13830);
  border: none;
  text-align: center; 
  text-decoration: none;
  font-size: 0.9em;
  
  border: 1px solid black;
}

.nav-btn a {
  color: white;
}

.nav-btn:hover, .nav-btn:active {
    background-image: none;
    background-image: linear-gradient(#A13830,#ED4D40);
    cursor: alias;
}
.log-on-b:active {
    transform: translateY(3px);
}

#clear-nav-float {
  float: clear;
}

 /* BUTTONS */

 .log-on-b {
   background-image: linear-gradient(#f44336, #9e1e14);
   border: none;
   text-align: center; 
   text-decoration: none;
   padding: 14px 25px;
   display: inline-block;
   margin: 0.5em 0;
   font-size: 1em;
   border-radius: 4px;
   color: white;
 }

 .log-on-b:hover, .log-on-b:active {
     background-image: none;
     background-image: linear-gradient(#f44336,#601206);
     cursor: alias;
 }
 .log-on-b:active {
     transform: translateY(3px);
 }

 /* FOOTER */

 footer ul li a {
   opacity: .75;
   text-indent: -9999em;
   height: 20px;
   background: url(/images/footer-social.png) no-repeat left top;
   display: block;
   position:absolute;
   bottom: 0.28em;
 }

 footer ul {
   list-style: none;
   width: 100%;
   padding: 0.3em 0;
   background-image: linear-gradient(#3A1310, #692520);
   position:absolute;
   bottom: 1em;
   text-align: center;
 }

 footer ul li a#ft-fb {
   width: 8px;
 }

 footer ul li a#ft-tw {
   background-position: -29px, 0;
   width: 20px;
 }

 footer ul li a#ft-ig {
   background-position: -68px, 0;
   width: 20px;
 }

 footer ul li a#ft-li {
   background-position: -107px, 0;
   width: 20px;
 }

 footer ul li {
   display: inline-block;
   width: 20px;
 }

 /* MEDIA QUERIES */


 @media screen and (max-width: 380px) {
   .nav-btn {
    font-size: 0.65em;
   }
}