/* GENERAL */

* { 
  box-sizing: border-box;
  margin: 0;
 }

 body {
  width: 100%;
  font-family: 'Archivo Narrow', Helvetica, sans-serif;
  height: 100%;
  background :#fff;
  background-image: url("/images/pattern-white.jpg");
  background-attachment: fixed;
 }

 #container {
    min-height:100%;
    position:relative;
 }

 #header {
    padding:10px 0;
    height: 2em;
    position: fixed;
 }
 #body {
    padding-top: 2em;
    padding-bottom:60px;   /* Height of the footer */
 }
 #footer {
    position:fixed;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
 }

 /* BUTTONS */

 .gen-b {
   background-image: linear-gradient(#f44336, #9e1e14);
   border: none;
   text-align: center; 
   text-decoration: none;
   padding: 14px 25px;
   display: inline-block;
   margin: 0.5em 0;
   font-size: 1em;
   border-radius: 4px;
   color: white;
 }

 .gen-b:hover, .log-on-b:active {
     background-image: none;
     background-image: linear-gradient(#f44336,#601206);
     cursor: alias;
 }
 .gen-b:active {
     transform: translateY(3px);
 }


 /* MEDIA QUERIES */


 @media screen and (max-width: 380px) {
   .nav-btn {
    font-size: 0.65em;
   }
}