/* GENERAL */

* { 
  box-sizing: border-box;
  margin: 0;
 }

 body {
  width: 100%;
  font-family: 'Open Sans', Helvetica, sans-serif;
  height: 100%;
 }

 #container {
    min-height:100%;
    position:relative;
 }

 #header {
    padding:10px;
 }
 #body {
    padding: 0;
    padding-bottom:60px;   /* Height of the footer */
 }
 #footer {
    position:fixed;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
 }

 /* NO NAV */

 body {
  background :#fff;
  background-image: url("/images/pattern-white.jpg");
  background-attachment: fixed;
 }

 #log-on {
  width: 100%;
 }

 #log-on h1 {
  font-family: 'Archivo Narrow', sans-serif;
  color: white;
  width: 100%;
  text-align: center;
  margin: 0 auto 0.5em;
  padding: 1em 0 0.4em;
  background-image: linear-gradient(#692520, #3A1310);
 }

 #log-on p {
 font-family: 'Open Sans', sans-serif;
 width: 80%;
 text-align: justify;
 margin: 1.5em auto;
 }

 #log-on section p {
  font-family: 'Archivo Narrow', sans-serif;
  width: 80%;
  margin: 1.5em auto 0.4em;
  text-align: center;
 }

 #log-on section ul {
  font-family: 'Archivo Narrow', sans-serif;
  list-style: none;
  width: 30%;
  margin: 0.1em auto 1.5em;
  text-align: center;
  padding: 0;
 }

#log-on li a {
  text-decoration: none;
  -webkit-user-select: none; /* Chrome, Opera, Safari */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
} 

/* BUTTONS */

.log-on-b {
  background-image: linear-gradient(#f44336, #9e1e14);
  border: none;
  text-align: center; 
  text-decoration: none;
  padding: 14px 25px;
  display: inline-block;
  margin: 0.5em 0;
  font-size: 1em;
  border-radius: 4px;
  color: white;
}

.log-on-b:hover, .log-on-b:active {
    background-image: none;
    background-image: linear-gradient(#f44336,#601206);
    cursor: alias;
}
.log-on-b:active {
    transform: translateY(3px);
}