/* GENERAL */

* { 
  box-sizing: border-box;
  margin: 0;
 }

 body {
  width: 100%;
  font-family: 'Sansita', Helvetica, sans-serif;
 }

 /* NO NAV */

 body {
  background :#fff;
  background-image: url("/images/pattern-white.jpg");
 }

