/* FILTERED DEALS */

#filtered-deals {
  width: 90%;
  text-align: center;
  margin: 4em auto;
  font-family: 'Archivo Narrow', sans-serif;
}

form input.gen-b {
  font-size: 0.8em;
  padding: 2px 10px;
}

#filtered-deals h1 {
  font-size: 2em;
  margin: 1em 0 0.1em 0;
}

#filtered-deals h3 {
  font-size: 1.2em;
  padding: 15px;
}

#filtered-deals form {
  margin: 10px 0;
}

/* EATERIES INDEX */

#eateries-index {
  width: 90%;
  text-align: center;
  margin: 4em auto;
  font-family: 'Archivo Narrow', sans-serif;
}

#eateries-index form input.gen-b {
  font-size: 0.8em;
  padding: 2px 10px;
}

#eatery-name-iterate {
  font-size: 1.5em;
}

#eateries-index form {
  margin: 5px 0 15px;
}

#eatery-single {
  width: 70%;
  margin: auto;
}

/* FILTER */

#filter-form {
  width: 90%;
  text-align: center;
  margin: 4em auto;
}

#filter-form p {
  margin: 2em auto;
}

#filter-form label {
  font-size: 2em;
}

.select-blk {
  font-family: 'Open Sans', sans-serif;
  margin-top: 2em;
  background-color: #150605;
  color: white;
}

.gen-b {
  margin: 0 auto;
}

