<div id='eateries-index'>
  
<h2>All Eateries</h2>  
<% @eateries.each do |eatery| %>

<section>

  <h3><%= eatery.eatery_name %></h3>
  <p>Deals:</p>
    <% eatery.deals.each do |deal| %>
      <p><%= deal.deal_name %></p>
    <% end %>
</section>
  <form method='post' action='/admin/eateries/<%= eatery.id %>/delete'>
    <input class='gen-b' type='submit' value='Delete Eatery'>
  </form>

  <form method='get' action='/admin/eateries/<%= eatery.id %>/edit'>
  <input class='gen-b' type='submit' value='Edit Eatery'>  
  </form>
  
  <hr>
  <% end %>
</div>

  