<div>
  <h1>New Eatery Details</h1>
  <form method='post' action='/admin/eateries'>
  
  <label for='eatery-name'>Name:</label>
  <input type='text' name='eatery_name'>

  <input type='submit' value='Add Eatery'>
  </form>
</div>