<div>

  <form id='filter-form' action='/deal_selection/filtered_deals' method='get'>
    <label for='day-select'>
     Select a day: </label>
     <br>
     <select class='select-blk' id='day-select' name='day_id'>
         <% @days.each do |day| %>
         <option value='<%= day.id %>'>
         <%= day.day_name %>       
         </option>
       <% end %>
     </select>
  </p>
  <p>
   <label for='eatery-select'>Select a location: </label>
   <br>
     <select id='eatery-select' name='eatery_id'>
      <% @eateries.each do |eatery| %>
      <option value='<%= eatery.id %>'>
        <%= eatery.eatery_name %>
      </option>
       <% end %>
     </select>
     <p>
     <input class='gen-b' type='submit' value='Show Deals'>
     </p>
  </form>

</div>

