<div>
  <p>
  <form action='deal_selection/filtered_deals' method='get'>
    <label for='day-select'>
     Select a day: </label>
     <select id='day-select' name='day_name'>
         <% @days.each do |day| %>
         <option value='<%= day.id %>'>
         <%= day.day_name %>       
         </option>
       <% end %>
     </select>
  </p>
  <p>
     <label for='eatery-select'>Select a location: </label>
     <select id='eatery-select' name='eatery_name'>
      <% @eateries.each do |eatery| %>
      <option value='<%= eatery.id %>'>
        <%= eatery.eatery_name %>
      </option>
       <% end %>
     </select>
  </form>
  </p>

  <input type='submit' value='Show Deals'>
</div>

